@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px var(--primaryFontFamily);
  -webkit-font-smoothing: antialiased;
}


input,
button,
textarea {
  font: 400 18px var(--primaryFontFamily);
}

button {
  cursor: pointer;
}

input {
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  color: var(--darkColor);
  font-size: 13px;
  font-weight: 300;
  height: 40px;
  padding: 0 10px;
}
input:focus{
  box-shadow:0 0 10px #cac9c9;
  border: 1px solid #cac9c9;
}

/* Grid */
.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  width: 1280px;
}
ul {
  list-style: none;
}

.disabled{
  pointer-events: none;
}
.container {
}

.rotate{
  animation: fa-spin 2s infinite linear;
}

.anime {
  padding: 30px 0;
}

.anime .wrap {
  display: flex;
  flex-wrap: wrap;
}

/* Animation */
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes heart {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes removeFavorite {
  0% {
   opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 480px){
  .header--logo img {
    margin-right: 5px;
  }
}